* {
    margin: 0px;
    padding: 0px;
}

h1 {
    margin-top: 32px;
    margin-bottom: 32px;
}

li {
    background-color: #1c1a1d;
    border: 4px solid transparent;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: inline-block;
    margin-top: 32px;
    margin-left: 32px;
    padding: 32px;
    height: 250px;
    width: 400px;
}

.hidden {
    display: block;
    display: none;
}